@import "../../../App.scss";

.data-table {
  overflow: auto;
}

.card-statistic {
  min-height: 6rem;
}

.number-statistic {
  font-size: 2rem;
  color: $light;
}

.label-statistic {
  color: white;
}

.online-indicator {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
}

.is-online {
  @extend .online-indicator;
  background-color: $component-active-bg;
}
